[Unit]
Description=The Things Network Gateway Watchdog
After=ttn-gateway.service

[Service]
WorkingDirectory=/opt/ttn-gateway/bin/
ExecStart=/opt/ttn-gateway/bin/watchdog
SyslogIdentifier=ttn-gateway-watchdog
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
